.commonButton {
    transition: all 0.3s ease; 
    &:hover {
        opacity: 0.7;
        transform: scale(1.1); 
    }
    
}
.primary {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #058B8C;
    border-radius: 9px;
    border-color: #058B8C;
}