.cardWrapper {
    border: 4px solid #058B8C;
    border-radius: 13px;
    max-width: 283px;
    width: 50%;
}

.title {
    height: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#058B8C;
    color: white;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
} 

@media only screen and (max-width: 600px) {
    .cardWrapper {
        border: 4px solid #058B8C;
        border-radius: 13px;
        max-width: none;
        width: 100%;
    }
}
